node_modules
.env
.env.*
!.env.example

coverage
dist
build
logs

.DS_Store

# Keep required project files
!README.md
!backend/prisma/schema.prisma
!backend/prisma/seed.ts
!backend/.env.example
!frontend/.env.example
